@media (min-width: 360px) and (max-width: 740px){
    .subjects{
        display: none;
        opacity: 0;
        overflow: hidden;
    }
    
    .mobile-books{
        visibility: visible; 
        position: static; /* Restore the default position */
        /* width: auto;  */
        height: auto; 
        clip: auto; /* Restore the default clipping */
        white-space: normal; 
        /* display: block; */
        margin-top: 50px;
        width:300px;
        margin-left: 30px;
        /* border: none; */
    }
    .mobile-books1{
        border: none;
    }
    .mobile-books1 p{
        margin-top: 40px;
        margin-left: 30px;
    }
    .mobile-books1a{
        border: none;
    }
    .mobile-books2{
        border: none;
    }
    .mobile-books2 p{
        margin-top: 40px;
        margin-left: 30px;
    }
    .mobile-books2a{
        border: none;
        margin-left:none;
    }
    .mobile-books2a p{
        margin-left: 25px;
        margin-top: 30px;
    }
    .mobile-books3{
        border: none;
    }
    .mobile-books3 p{
        margin-top: 40px;
        margin-left: 20px;
    }
    .mobile-books3 img{
        margin-top: 10px;
        
    }
    .mobile-books3a{
        border: none;
    }
    .mobile-books3a img{
        margin-top: none;
        height: 120px;
    }
    .mobile-books4{
        border: none;
    }
    .mobile-books4 p{
        margin-top: 20px;
        margin-left: 25px;
    }
    .mobile-books4 img{
        height: 120px;
    }
    .mobile-books4a{
        border: none;
    }
    .mobile-books4a img{
        height: 100px;
    }
    .mobile-books4a p{
        margin-top: 35px;
        margin-left: 10px;
    }
    .mobile-books5{
        border: none;
    }
    .mobile-books5 p{
        margin-top: 20px;
        margin-left: 25px;
    }
    .mobile-books5 img{
        height: 120px;
    }
    
    .footer{
        display: flex;
        flex-direction: column;
        height: 750px;
      }
      .footer h2{
        /* background-color: red; */
        font-size: 25px;
        margin-left: 60px;
        font-weight: 700;
        
      }
      .footer p{
        font-size: 20px;
        margin-left: 20px;
        margin-right: 0px;
      }
      .header-line{
        width: 220px;
        height: 2px;
       margin-left: 60px;
      }
      .footer1{
        display: flex;
        flex-direction: column;
      }
      /* .footer-p{
        display: flex;
        flex-direction:column;
      } */
      .quick-links h5{
        font-size: 23px;
        margin-left: 20px;
      }
      .footer-quotes p{
        color: orange;
        font-size: 17px;
        width: 320px;
        
      }
}