

/* header down side starts */


.hero {
display: flex;
width: 100%;
background-color: lightgreen;
margin-top: 4%;
}

.hero-content {
    max-width: 40%;
    margin: 30px 0px 0px 56px;
}

.hero h2 {
    font-size: 56px;
    margin-bottom: 20px;
    /* opacity: 0.8; */
    color: #202124;
}
.hero h3{
    font-size: 28px;
    color: #202124;
    /* opacity: 0.8; */
}
.hero p{
    font-size: 20px;
    color: #202124;
}

.circle-images {
    width: 80%;
    margin-top: 20px;
    
    
    position: relative;
}
.circle{
    display: flex;
    
}
.circle video{
    width: 200px;
    height: 200px;
    border-radius: 30%;
    object-fit: cover;
    border-radius: 50%;
    /* position: relative; */
    /* margin-right: 100px; */
    margin-top: 50px;
    margin-bottom: 30px;
 
}

.circle img{
    width: 200px;
    height: 200px;
    border-radius: 30%;
    object-fit: cover;
    border-radius: 50%;
    /* position: relative; */
    /* margin-right: 100px; */
    margin-top: 50px;
    margin-bottom: 30px;
}



.image1{
    margin-left: 50px;
    

}
.image2{
   margin-top: 150px;
   position: static;
} 

/* companies section starts */

.companies-links{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}
.slide-container{
    width: 65%;
    margin-top: 30px;
    margin-bottom: 30px;
    /* width: 750px; */
    background-color: lightpink;
    height: 500px;
    margin-left: 0rem;
    margin-right: 2rem;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px yellow;
    /* margin-top: 5rem; */
}
.slide-container h1{
    text-align: center;
    font-size: 30px;

}
.slideshow-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 2rem;
    gap: 20px;
    /* background-color: lightskyblue; */
}
.slideshow-container img{
    /* margin-top: 7rem; */
    margin: 50px 0px 0px 50px;
    height: 150px;
    width: 150px;
    
}
.slide-container1 h1{
    text-align: center;
}
.slide0-desc{
    display: flex;
    justify-content: space-around;
}
.slide0-desc h1{
    margin-top: 20px;
}
.slide0-desc button{
    width: 100px;
    height: 40px;
    font-size: 16px;
    font-family: bold;
    background-color: yellow;
    color: blue;
    padding: 5px;
    margin-top: 20px;
}

.slide {
    flex: 0 0 33.33%; /* Three images visible at a time */
    transition: transform 0.5s ease;
}
#slide0{
    height: 300px;
    width: 200px;
    box-sizing: border-box;
    background-color: white;
    margin-left: 20px;
    box-shadow: 10px 10px 10px black;
}



img {
    width: 100%;
    height: auto;
}

.nav {
    margin-top: 20px;
}

/* Add styles for dots */
.dots-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}

.dot {
    width: 10px;
    height: 10px;
    background-color: blue;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 40px;
}

.dot.active {
    background-color: grey;
}

/* moving images section starts */

.containers {
    position: relative;
    height: 500px;
    width: 35%;
    overflow-y: hidden;
}

.gradient-top {
    background: linear-gradient(180deg, #f4f8ff, #fff0);
    position: absolute;
    width: 100%;
    height: 150px;
    top: 0;
    z-index: 50;
}

.moveImage {
    width: 500px;
    height: auto;
    object-fit: cover;
    position: absolute;
}

.gradient-bottom {
    background: linear-gradient(0deg, #f4f8ff, #fff0);
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    z-index: 50;
}
.moveImage{
    animation: 10s infinite linear moveCompany;
}
@keyframes moveCompany {
    0%{
        top: 0;
    }
    100%{
        top:-90%;
    }
}

/* Add styles for image movement if needed */
.moveImage {
    /* Add your movement styles here */
}


