@tailwind base;
@tailwind components;
@tailwind utilities;


/* header section media query */
@media (min-width: 360px) and (max-width: 740px) {
  .header1{
    width: 300px;
    margin-left: 0px;
  }
  .header1 h2{
    font-size: 20px;
  }
  .header-button1{
    font-size: 15px;
    width: 80px;
    height: 40px;
    margin-left: 40px;
    margin-top: 23px;
    
  }
  .header-button2{
    font-size: 15px;
    width: 80px;
    height: 40px;
    /* margin: none; */
    margin-top: 23px;
    /* margin-right: 100px; */
    
    
  }
  /* .header-list{
    font-size: 10px;
  } */






    .header-down{
      flex-direction: column;
      margin-left: 15px;
      margin-right: 10px;
      
      
    }
    .header-down h2{
      font-size: 27px;
    }
    .header-down p{
      font-size: 18px;
      margin-top: 20px;
    }
    .header-down img{
      margin-top:20px;
    }

    /* header down side starts  */
    .buttons{
      width: 300px;
      display: flex;
      margin-left: 30px;
      margin-top: 50px;
      justify-content: space-evenly;
      display: flex;
      /* flex-direction: column; */
      /* font-size: 10px; */
      /* margin-right: 20px; */
      
    }
    .header-down1 a{
      width: 50px;
      font-size: 15px;
      /* height: 100px; */
      
    }
    .header-down2 a{
      width: 50px;
      font-size: 15px;
      
    }
    .header-down3 a{
      width: 50px;
      font-size: 15px;
      
    }
    .subjects{
      display: flex;
      /* margin-left: 0px; */
      font-family: poppins;
      font-size: 18px;
      /* margin: 0px; */
      align-items: center;
      width: 100px;
      height: 40px;
      font-weight: 700;
    
    }
    .papers{
      display: flex;
      /* margin-left: 0px; */
      font-family: poppins;
      font-size: 18px;
      /* margin: 0px; */
      align-items: center;
      width: 100px;
      height: 40px;
      font-weight: 700;
    
    }
    .notes{
      display: flex;
      /* margin-left: 0px; */
      font-family: poppins;
      font-size: 18px;
      /* margin: 0px; */
      align-items: center;
      width: 100px;
      height: 40px;
      font-weight: 700;
      
    
    }

    /* other section starts  */
    .other-section{
      /* background-color: blue; */
      height: 640px;
      width: full;
      background-color: red;
      margin-top: 30px;
      margin-left: 15px;
      margin-right: 15px;
      align-items: center;
      text-align: center;
      
      
    }
    .other-section1{
      /* background-color: blue; */
      margin-left: 0px;
      /* height: 100px; */
      /* border: 2px solid black; */
      /* width: full; */
      /* display: grid;
      grid-auto-flow: column; */
      
      /* display: flex;
      flex-direction: row; */

    }
    .other-section2{
      /* display: flex;
      flex-direction: row;
      flex-wrap: wrap; */
      margin-left: 0px;
      /* gap: 0px; */
      /* display: grid;
      grid-auto-flow: column; */
      /* display: flex;
      flex-direction: row; */
    }
    .box1{
      /* position: relative; */
      height: 120px;
      /* z-index: 0px; */
      /* position: relative; */
    }
    .box1 h3{
      /* background-color: blue; */
      font-size: 18px;
      margin-left: 0px;
      /* margin-left: 0px; */
      /* align-items: start;
      margin-top: 0px;
      margin-right: 0px; */
     
    }
    
    .box1 p{
      font-size: 18px;
      margin-left: 0px;
      /* margin-left: 0px; */
      /* gap: 0px; */
      
    }
    .box2{
      /* position: relative; */
      height: 140px;
    }
    .box2 h3{
      /* gap: 0px; */
      /* background-color: blue; */
      font-size: 18px;
      margin-left: 0px;
      
    }
    .box2 p{
      font-size: 18px;
      margin-left: 0px;
      margin-left: 20px;
      
    }
    .box3{
      height: 140px;
    }
    .box3 h3{
      /* background-color: blue; */
      font-size: 18px;
      margin-left: 0px;
      /* margin-top: 10px; */
      
    }
    .box3 p{
      font-size: 18px;
      margin-left: 0px;
      margin-left: 10px;
      
    }
    .box4 h3{
      /* background-color: blue; */
      font-size: 18px;
      margin-left: 0px;
      
    }
    .box4 p{
      font-size: 18px;
      margin-left: 0px;
      margin-left: 20px;
      
    }
    .helper{
      margin-top: 60px;
    }
    .helper h2{
      font-size: 18px;
    }
  .helper button{
    width: 200px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-left: 60px;
  }
  
  /* team members section starts  */
  .aboutus{
    display: flex;
    flex-direction: column;
  }
  .aboutus h1{
    /* background-color: red; */
    font-size: 25px;
  }
  .aboutus span{
    font-size: 25px;
  }
  .team-members{
    flex-direction: column;
  }
  .underline1{
    width: 270px;
    height: 2px;
  }
  .rahul{
    background-color: lightcyan;
    overflow: hidden;
  }
  .rahul img{
    margin-top: 10px;
    margin-left: 60px;
  }
  .rahul a{
    margin-left: 60px;
    margin-top: 30px;
   
  }
  .kunal{
    background-color: lightcyan;
    overflow: hidden;
  }
  .kunal img{
    margin-top: 10px;
    margin-left: 60px;
  }
  .kunal a{
    margin-left: 60px;
    margin-top: 30px;
   
  }
  .shubh{
    background-color: lightcyan;
    overflow: hidden;
  }
  .shubh img{
    margin-top: 10px;
    margin-left: 60px;
  }
  .shubh a{
    margin-left: 60px;
    margin-top: 30px;
   
  }
  .left-part{
    margin-left: 30px;
  }
  .contactus img{
    opacity: 0;
  }

  /* footer section starts  */
  .footer{
    display: flex;
    flex-direction: column;
    height: 650px;
  }
  .footer h2{
    /* background-color: red; */
    font-size: 23px;
    margin-left: 60px;
    font-weight: 700;
    
  }
  .footer p{
    font-size: 18px;
    margin-left: 20px;
    margin-right: 0px;
  }
  .header-line{
    width: 200px;
    height: 2px;
   margin-left: 60px;
  }
  .footer1{
    display: flex;
    flex-direction: column;
  }
  /* .footer-p{
    display: flex;
    flex-direction:column;
  } */
  .quick-links h5{
    font-size: 16px;
    margin-left: 20px;
  }
  .footer-quotes p{
   color: orange;
    font-size:16px;
    width: 320px;
    
  }
   .copyright1 p{
    font-size: 16px;
    margin-right: 20px;
    /* background-color: red; */
  }
} 