/* curriculum download section starts */

@media screen and (max-width: 6.35in) {

    /* header starts  */

    .header{
        display: block;
    }

    /* header media query starts  */


   .nav-button a{
    font-size: 16px;
   
   }
   .logo-img{
    height: 60px;
    width: 100px;
}
.nav-logo{
    width: 30%;
    align-items: center;
    display: flex;
}

    /* header down side starts  */

.detail-description{

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.curriculum {
    max-width: 400px;
    padding: 20px;
    margin: 0px 15px 20px 15px;
    /* justify-content: space-evenly; */
}
.curriculum h1 {
    font-size: 20px;
}
label {
    margin-right: 10px;
    font-size: 16px;
}

/* curriculum down side starts  */


.subject-notes h1{
    font-size: 20px;
  
  }

  .semester{
    grid-template-columns: repeat(1, 1fr);
  }
  .all-sem a{
    font-size: 15px;
    font-style: italic;
  }
  .all-sem p{
    font-size: 18px;
    text-decoration: underline;
    color: blueviolet;
  }

  /* footer section starts  */


  footer{
    /* margin-top: 50px;
    position: absolute;
    left: 0%;
    right: 0%; */
}


.footer-content{
    height: 250px;
    margin-top: 0px;
    
}
.quotes li{
    opacity: 0px;
    display: none;
}
.footer-home a{
    height: 30px;
    margin-top: 0px;
}
.footer-content h3{
    margin-top: 0px;
}
.footer-heading{
    font-size: 16px;
}
.footer-quote li{
    font-size: 12px;
}
.footer-contact li a{
    font-size: 12px;
    /* background-color: red; */
}
.footer-contact p{
    font-size: 15px;
}
#beat p{
    font-size: 15px;
}
#beat li a{
    font-size: 12px;
}
}




