/* curriculum download section starts */

@media screen and (max-width: 6.35in) {

.detail-description{

    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.curriculum {
    max-width: 400px;
    padding: 20px;
    margin: 0px 15px 20px 15px;
    /* justify-content: space-evenly; */
}
.curriculum h1 {
    font-size: 20px;
}
label {
    margin-right: 10px;
    font-size: 16px;
}

/* curriculum down side starts  */


.subject-notes h1{
    font-size: 20px;
  
  }

  .semesters{
    grid-template-columns: repeat(1, 1fr);
  }
  .semester1 h1{
    margin-left: 50px;
    text-decoration: none;
    text-align: start;
  }
  .semester2 h1{
    margin-left: 50px;
    text-decoration: none;
    text-align: start;
  }
  .semester3 h1{
    margin-left: 50px;
    text-decoration: none;
    text-align: start;
  }
  .semester4 h1{
    margin-left: 50px;
    text-decoration: none;
    text-align: start;
  }
  .semester5 h1{
    margin-left: 50px;
    text-decoration: none;
    text-align: start;
  }
  .semester6 h1{
    margin-left: 50px;
    text-decoration: none;
    text-align: start;
  }
  .semester7 h1{
    margin-left: 50px;
    text-decoration: none;
    text-align: start;
  }
  .semester8 h1{
    margin-left: 50px;
    text-decoration: none;
    text-align: start;
  }


  /* footer section starts  */


  footer{
    /* margin-top: 50px;
    position: absolute;
    left: 0%;
    right: 0%; */
}


.footer-content{
    height: 250px;
    margin-top: 0px;
    
}
.quotes li{
    opacity: 0px;
    display: none;
}
.footer-home a{
    height: 30px;
    margin-top: 0px;
}
.footer-content h3{
    margin-top: 0px;
}
.footer-heading{
    font-size: 16px;
}
.footer-quote li{
    font-size: 12px;
}
.footer-contact li a{
    font-size: 12px;
    /* background-color: red; */
}
.footer-contact p{
    font-size: 15px;
}
#beat p{
    font-size: 15px;
}
#beat li a{
    font-size: 12px;
}
}
  