
/* header starts */




/* 
nav {
  background-color: #333; 
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  
}

.menu li {
  flex: 1;
  text-align: center;
}

.menu li a {
  display: block;
  text-decoration: none;
  color: #fff; 
  padding: 15px 20px; 
  transition: background-color 0.3s;
}

.menu li a:hover {
  background-color: #555; 
}


header {
  margin: 0;
  padding: 0;
}


.header {
  background-image: linear-gradient(to right, #4b0082, #800080, #ff69b4);
  color: #fff;
  padding: 10px 0;
}


.header1 {
  max-width: 1080px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}


.header1 h2 {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #008080;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown {
  position: relative;
  display: inline-block;
}


.dropdown-button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}



.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
}


.dropdown:hover .dropdown-content {
    display: block;
} */



/* notes section starts */



/* scroll bar css starts */


html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, cyan, orange);
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
}


/* darkmode section starts  */

:root{
  --primary-color:white;
  --secondry-color: linear-gradient(to right, #ff0000, blue);
  --secondry-color2: #212121;
}
.dark-theme{
   --primary-color: #212121;
   --secondry-color: linear-gradient(to right, cyan, orange);
   --secondry-color2:white;
}
body{
  background-color: var(--primary-color);
}

#icon{
  width: 30px;
  cursor: pointer;
}



/* side bar starts  */

.container {
  display: flex;
}

.menu-icon {
  cursor: pointer;
  padding: 10px;
  color: white;
  margin-right: 20px;
  
}

.bar {
  width: 25px;
  height: 2px;
  background-color: orange;
  margin: 4px 0;
  transition: 0.4s;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: -250px;
  background-image:linear-gradient(to left, #4b0082, #800080, #ff69b4);
  overflow-x: hidden;
  transition: 0.4s;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.sidebar a:hover {
  color: #007bff;
}

.sidebar.active {
  width: 250px;
  left: 0;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.close-icon:hover {
  color: #007bff;
}




.detail-description{
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.curriculum {
  max-width: 400px;
  margin-top: 70px;
  margin-bottom: 50px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px var(--secondry-color2);
  border-radius: 5px;
  text-align: center;
  margin-top: 7%;
  justify-content: space-evenly;
}

.curriculum h1 {
  color: #333;
  font-weight: bold;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

#downloadLink {
  margin-top: 20px;
}
#mba-downloadLink{
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}


/* .curriculum se down side starts */

/*notes downlode start*/

.subject-notes{
  margin-top: 50px;
}
.subject-notes h1{
  color: var(--secondry-color2);
  text-align: center;
  text-decoration: underline;
}
.semester{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
}
.all-sem p{
  font-size: 25px;
  text-decoration: underline;
  color: blueviolet;
}
.all-sem li{
  margin-bottom: 5px;
}
.all-sem a{
  font-size: 18px;
  font-style: italic;
}
#subject-hover{
  color: transparent;
  background-image: var(--secondry-color); /* Change colors here */
  background-clip: text;
  -webkit-background-clip: text; /* For Safari/Chrome */
  transition: background-position 0.3s ease;
}

/* Hover effect */
#subject-hover:hover {
  background-position: 100% 0;
  font-size: 20px;
  transition:0.5s;
  text-decoration: underline;
}

/*notes downlode end*/

/*
.subject-notes{
  margin-bottom: 50px;
}
.subject-notes h1{
  font-size: 28px;
  font-weight: bold;
  color: blue;
  text-align: center;
  margin-top: 20px;
  text-decoration: underline;

}
/* .semester-line{
  width: 480px;
  height: 2px;
  background-color: blue;
  margin-left: 31%;
} */
/* .semesters{
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.semester1 a{
display: flex;
flex-direction: column;
margin-left: 50px;
font-size: 16px;
color: navy;
text-decoration: none;
line-height: 5px;
font-family: Arial, Helvetica, sans-serif;
cursor: pointer;

}
.semester1 a :hover{
  color: blue;
}


.semester2 a{
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  font-size: 16px;
  color: navy;
  text-decoration: none;
  line-height: 5px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;

  }
  .semester2 a :hover{
    color: blue;
  }
  .semester2 h1{
    margin-left: 30px;
  }


  .semester3 a{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    font-size: 16px;
    color: navy;
    text-decoration: none;
    line-height: 5px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    width: 300px;
   
    }
    .semester3 a :hover{
      color: blue;
    }
    


    .semester4 a{
      width: 300px;
      display: flex;
      flex-direction: column;
      margin-left: 50px;
      font-size: 16px;
      color: navy;
      text-decoration: none;
      line-height: 5px;
      font-family: Arial, Helvetica, sans-serif;
      cursor: pointer;
      
      }
      .semester4 a :hover{
        color: blue;
      }

      .semester5 a{
     
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        font-size: 16px;
        color: navy;
        text-decoration: none;
        line-height: 5px;
        font-family: Arial, Helvetica, sans-serif;
        cursor: pointer;
      
        }
        .semester5 a :hover{
          color: blue;
        }



        .semester6 a{
        
          display: flex;
          flex-direction: column;
          margin-left: 50px;
          font-size: 16px;
          color: navy;
          text-decoration: none;
          line-height: 5px;
          font-family: Arial, Helvetica, sans-serif;
          cursor: pointer;
       
          }
          .semester6 a :hover{
            color: blue;
          }




          .semester7 a{
            width: 320px;
            display: flex;
            flex-direction: column;
            margin-left: 50px;
            font-size: 16px;
            color: navy;
            text-decoration: none;
            line-height: 5px;
            font-family: Arial, Helvetica, sans-serif;
            cursor: pointer;
        
            }
            .semester7 a :hover{
              color: blue;
            }



            .semester8 a{
              width: 200px;
              display: flex;
              flex-direction: column;
              margin-left: 50px;
              font-size: 16px;
              color: navy;
              text-decoration: none;
              line-height: 5px;
              font-family: Arial, Helvetica, sans-serif;
              cursor: pointer;
           /
              } */
              

/* footer section starts */

/* 
.footer {
 
  height: 230px;
  background-color: slategray;
}

.footer1 {
  display: flex;
  justify-content: space-around;
}

.footer2 {
  width: 300px;
}

.footer2 h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-top: 30px;
  color: #FFA500;
}
.footer2 p{
  font-size: 17px;
  color: white;
}

.header-line {
  width: 210px;
  height: 2px;
  background-color: #FFA500;
 
}



.footer-quotes {
  width: 150px;
  font-weight: bold;
  color: #fff;
  margin-top: 5px;
}

.copyright {
  width: 92%; 
  height: 0.5px;
  background-color: #fff;
  margin: auto;
  margin-top: 8px;
}

.copyright-text {
  font-weight: bold;
  color: #fff;
  margin-left: 12px;
  margin-top: 5px;
}

.quick-links h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #FFA500;
  margin-top: 35px;
}

.quick-links a {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-top: 5px;
  font-size: 18px;
} */











/* @media (min-width: 360px) and (max-width: 740px) {
 
 
    .mca{
        display: none;
        opacity: 0;
        overflow: hidden;
        margin-top: 0px;
     
        
    }
    .mca-integrated{
        margin-top: 0px;
        
    }
    .mba{
        display: none;
        opacity: 0;
        overflow: hidden;
    }
    
    .media-mca{
        visibility: visible; 
        position: static; 
        height: auto; 
        clip: auto; 
        white-space: normal; 
        margin-top: 10px;
        width:300px;
        margin-left: 30px;
     
    }
    .media-mba{
        visibility: visible; 
        position: static; 
        height: auto; 
        clip: auto; 
        white-space: normal; 
        margin-top: 50px;
        width:300px;
        margin-left: 30px;
      
    }
    .container h1{
        margin-bottom: 0px;
        text-align: center;
        color: darkorange;
        font-size: 25px;
        text-decoration: underline;
        padding: 0;
    } */

 
 
    /* footer section starts  */

 /* .footer{
    display: flex;
    flex-direction: column;
    height: 700px;
  }
  .footer h2{
 
    font-size: 25px;
    margin-left: 60px;
    font-weight: 700;
    
  }
  .footer p{
    font-size: 19px;
    margin-left: 20px;
    margin-right: 0px;
  }
  .header-line{
    width: 220px;
    height: 2px;
   margin-left: 60px;
  }
  .footer1{
    display: flex;
    flex-direction: column;
  }
  
  .quick-links h5{
    font-size:18px;
    margin-left: 20px;
  }
  .footer-quotes p{
   color: orange;
    font-size: 17px;
    width: 320px;
    
  }
}  */

